.md-datepicker-header {
  background: #999999 !important;
  color: #5E5E5C;
  width: 40% !important;
}
span.md-datepicker-year-button {
  margin-bottom: 20px !important;
}
div.md-datepicker-body-header button.md-button.md-dense.md-icon-button.md-theme-default {
  margin-right: 15em;
}
div.md-datepicker-panel button.md-button {
  line-height: 1 !important;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  border-radius: 5px;
}
input.form-control {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}
div.vbt-autcomplete-list {
  background-color: #FFFFFF !important;
  padding: 5px 5px 5px 10px;
}
div a.vbst-item {
  display: block;
  color: #495057 !important;
}
div a.vbst-item:hover {
  background-color: #d2d2d2;
}
div.typeAhead {
  padding-bottom: 1.5em;
}
label.autoComplete {
  color: #aaaaaa;
  font-weight: 400;
}
